name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0' # 提高版本以符合 pubspec.yaml 的要求
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build iOS (No Sign)
        run: flutter build ios --release --no-codesign

      - name: Prepare IPA
        run: |
          mkdir -p Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r Runner.ipa Payload/
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: Runner.ipa
